<section id="app-components">
  <!-- Intro -->
  <div class="app-intro-card">
    <div class="card-header">
      <h3>Wrapped with Elegance</h3>
      <p>
        Display info in neat little packages — flexible, beautiful, and
        content-ready.
      </p>
    </div>
    <div class="card-body"></div>
  </div>

  <div class="app-components-box">
    <div>
      <h2 class="comp-title">Fixed width card</h2>
      <div class="grid-auto-adjust">
        <div class="card-box card-fixed">
          <div class="card-head">
            <div class="card-title">
              <h3>Welcome to CardBox</h3>
              <small>Full Width</small>
            </div>
          </div>
          <div class="card-body">
            <p>
              CardBox is a versatile card component for your frontend projects.
              It is designed to be customizable and easy to use. You can use it
              for displaying information, images, and actions in a structured
              way.
            </p>
            <ul>
              <li>Responsive design</li>
              <li>Customizable with themes</li>
              <li>Lightweight and efficient</li>
            </ul>
          </div>
          <div class="card-footer">
            <button type="button" class="btn-fill-green">
              <span class="btn-txt">Get Start</span>
              <span class="material-symbols-outlined btn-icon"> flag </span>
            </button>
            <button type="button" class="btn-fill-violet">
              <span class="btn-txt">Learn More</span>
              <span class="material-symbols-outlined btn-icon">
                keyboard_double_arrow_right
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-code">
        <app-comps-code [showCode]="'card-01'"></app-comps-code>
      </div>
    </div>

    <div>
      <h2 class="comp-title">Responsive card</h2>
      <div class="card-box">
        <div class="card-head">
          <div class="card-title">
            <h3>Welcome to CardBox</h3>
            <small>Fixed Width</small>
          </div>
        </div>
        <div class="card-body">
          <p>
            CardBox is a versatile card component for your frontend projects. It
            is designed to be customizable and easy to use. You can use it for
            displaying information, images, and actions in a structured way.
          </p>
          <ul>
            <li>Responsive design</li>
            <li>Customizable with themes</li>
            <li>Lightweight and efficient</li>
            <li>Full width and Fixed with classes</li>
            <li>Build-In Colours</li>
            <li>Chart Cards</li>
          </ul>
        </div>
        <div class="card-footer">
          <button type="button" class="btn-fill-green">
            <span class="btn-txt">Get Start</span>
            <span class="material-symbols-outlined btn-icon"> flag </span>
          </button>
          <button type="button" class="btn-fill-violet">
            <span class="btn-txt">Learn More</span>
            <span class="material-symbols-outlined btn-icon">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
      </div>
      <div class="card-code">
        <app-comps-code [showCode]="'card-02'"></app-comps-code>
      </div>
    </div>

    <div>
      <h2 class="comp-title margin-t">Build-In Colours</h2>
      <div class="grid-auto-adjust">
        <ng-container *ngFor="let clr of coloursData">
          <div [class]="'card-box-' + clr.colour + ' card-fixed'">
            <div class="card-head">
              <div class="card-title">
                <h3>{{ clr.title }}</h3>
                <small>{{ clr.tagline }}</small>
              </div>
            </div>
            <div class="card-body">
              <p>{{ clr.features }}</p>
            </div>
            <div class="card-footer card-footer-end">
              <button type="button" [class]="'btn-fill-' + clr.colour">
                <span class="material-symbols-outlined btn-icon">
                  favorite
                </span>
              </button>
              <button type="button" [class]="'btn-fill-' + clr.colour">
                <span class="material-symbols-outlined btn-icon">
                  shopping_cart
                </span>
                <span class="btn-txt">Cart</span>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="card-code">
        <app-comps-code [showCode]="'card-03'"></app-comps-code>
      </div>
    </div>

    <div>
      <h2 class="comp-title margin-t">Bordered Card Plain</h2>
      <div class="grid-auto-adjust">
        <div class="card-box card-fixed card-lines">
          <div class="card-head">
            <div class="card-title">
              <h3>Welcome to CardBox</h3>
              <small>Fixed Width</small>
            </div>
          </div>
          <div class="card-body">
            <p>
              CardBox is a versatile card component for your frontend projects.
              It is designed to be customizable and easy to use.
            </p>
            <ul>
              <li>Responsive design</li>
              <li>Customizable with themes</li>
              <li>Lightweight and efficient</li>
            </ul>
          </div>
          <div class="card-footer">
            <button type="button" class="btn-fill-green">
              <span class="btn-txt">Get Start</span>
              <span class="material-symbols-outlined btn-icon"> flag </span>
            </button>
            <button type="button" class="btn-fill-violet">
              <span class="btn-txt">Learn More</span>
              <span class="material-symbols-outlined btn-icon">
                keyboard_double_arrow_right
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-code">
        <app-comps-code [showCode]="'card-04'"></app-comps-code>
      </div>
    </div>

    <div>
      <h2 class="comp-title margin-t">Bordered Card Coloured</h2>
      <div class="grid-auto-adjust">
        <ng-container *ngFor="let clr of colours">
          <div
            [class]="'card-box-' + clr + ' card-fixed' + ' card-lines-' + clr"
          >
            <div class="card-head">
              <div class="card-title">
                <h3>Welcome to CardBox</h3>
                <small>Fixed Width</small>
              </div>
            </div>
            <div class="card-body">
              <p>
                CardBox is a versatile card component for your frontend
                projects. It is designed to be customizable and easy to use.
              </p>
              <ul>
                <li>Responsive design</li>
                <li>Customizable with themes</li>
                <li>Lightweight and efficient</li>
              </ul>
            </div>
            <div class="card-footer">
              <button type="button" [class]="'btn-fill-' + clr">
                <span class="btn-txt">Get Start</span>
                <span class="material-symbols-outlined btn-icon"> flag </span>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="card-code">
        <app-comps-code [showCode]="'card-05'"></app-comps-code>
      </div>
    </div>

    <div>
      <h2 class="comp-title margin-t">Chart Cards</h2>
      <div class="grid-auto-adjust">
        <div class="chart-cards">
          <ng-container *ngFor="let clr of colours">
            <div [class]="'card-box-' + clr + ' card-fixed'">
              <div class="card-head">
                <div class="card-title">
                  <small>Fixed Width</small>
                </div>
              </div>
              <div class="card-body">
                <p class="chart-num">24</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="card-code">
        <app-comps-code [showCode]="'card-06'"></app-comps-code>
      </div>
    </div>
  </div>
</section>
