<section id="motion-container">
  <div class="app-card">
    <div class="card-header">
      <div>
        <h3>Type Effect</h3>
        <p>Every panel dances together — open one, open all.</p>
      </div>
    </div>
    <div class="card-body">
      <div libTypewriter class="type-effect">
        This is a large paragraph that will be typed character by character with
        proper line wrapping as needed. The animation looks natural and works
        well even for long paragraphs of text.
      </div>
    </div>
    <div class="card-code">
       <app-motion-code [showCode]="'typeEffect'"></app-motion-code>
    </div>
  </div>
</section>
