<section id="component-container">
  <nav id="component-nav">
    <button type="button" class="mobile-left-nav" (click)="scrollNav('left')">
      <span class="material-symbols-outlined"> arrow_left </span>
    </button>
    <button type="button" class="mobile-right-nav" (click)="scrollNav('right')">
      <span class="material-symbols-outlined"> arrow_right </span>
    </button>
    <div class="component-nav-list" #navList>
      <a
        routerLink="Component_Accordion"
        routerLinkActive="component-nav-active"
      >
        <span class="material-symbols-outlined">view_day</span> Accordion
      </a>
      <a routerLink="Component_Button" routerLinkActive="component-nav-active">
        <span class="material-symbols-outlined">smart_button</span> Button
      </a>
      <a routerLink="Component_Card" routerLinkActive="component-nav-active">
        <span class="material-symbols-outlined">credit_card</span> Card
      </a>
      <a
        routerLink="Component_Dropdown"
        routerLinkActive="component-nav-active"
      >
        <span class="material-symbols-outlined">arrow_drop_down</span> Dropdown
      </a>
      <a routerLink="Component_Input" routerLinkActive="component-nav-active">
        <span class="material-symbols-outlined">input</span> Input
      </a>
      <a routerLink="Component_Menubar" routerLinkActive="component-nav-active">
        <span class="material-symbols-outlined">menu</span> Menubar
      </a>
      <a routerLink="Component_Nav" routerLinkActive="component-nav-active">
        <span class="material-symbols-outlined">navigation</span> Nav
      </a>
      <a routerLink="Component_Table" routerLinkActive="component-nav-active">
        <span class="material-symbols-outlined">table_chart</span> Table
      </a>
      <a routerLink="Component_Tab" routerLinkActive="component-nav-active">
        <span class="material-symbols-outlined">tab</span> Tab
      </a>
      <a
        routerLink="Component_Variables"
        routerLinkActive="component-nav-active"
      >
        <span class="material-symbols-outlined">tune</span> Variables
      </a>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</section>
