<main id="app-main">
  <header id="app-header">
    <p class="app-logo">
      <span class="material-symbols-outlined"> join_right </span>
      CSSFusion
    </p>

    <div class="app-header-links">
      <a routerLink="Home" routerLinkActive="app-module-active">Home</a>
      <a routerLink="Components" routerLinkActive="app-module-active"
        >Compnents</a
      >
      <a routerLink="Templates" routerLinkActive="app-module-active"
        >Templates</a
      >
      <a routerLink="Motion" routerLinkActive="app-module-active">Motion</a>
    </div>

    <div class="app-header-btns">
      <span
        *ngIf="!themeService.isDarkMode"
        class="material-symbols-outlined"
        (click)="toggleTheme()"
        >light_mode</span
      >
      <span
        *ngIf="themeService.isDarkMode"
        class="material-symbols-outlined"
        (click)="toggleTheme()"
        >dark_mode</span
      >
      <button class="app-header-btn" type="button">Live Demo</button>
      <span
        class="material-symbols-outlined app-menu-icon"
        [matMenuTriggerFor]="menu"
        >menu</span
      >
      <mat-menu #menu="matMenu">
        <a routerLink="Home" mat-menu-item>Home</a>
        <a routerLink="Components" mat-menu-item>Compnents</a>
        <a routerLink="Templates" mat-menu-item>Templates</a>
        <a routerLink="Motion" mat-menu-item>Motion</a>
      </mat-menu>
    </div>
  </header>

  <section id="app-body">
    <router-outlet></router-outlet>
  </section>
</main>
