<section id="app-components">
  <!-- Intro -->
  <div class="app-intro-card">
    <div class="card-header">
      <h3>Clicks that Count</h3>
      <p>
        From subtle taps to bold actions, buttons that blend style with purpose.
      </p>
    </div>
    <div class="card-body">
      <div class="card-block-intro">
        <button type="button" class="btn-fill">Regular Button</button>
        <button type="button" class="btn-fill">
          <span class="material-symbols-outlined btn-icon"> edit </span>
        </button>
        <button type="button" class="btn-fill">
          <span class="material-symbols-outlined btn-icon"> edit </span>
          <span class="btn-txt">Edit</span>
        </button>
        <button type="button" class="btn-fill">
          <span class="btn-txt">Create</span>
          <span class="material-symbols-outlined btn-icon"> add_circle </span>
        </button>
      </div>
    </div>
  </div>

  <section class="app-components-box">
    <!-- Outline -->
    <div class="app-card">
      <div class="card-header">
        <h3>Outline</h3>
      </div>
      <div class="card-body">
        <div class="card-block">
          <button type="button" class="btn-line btn-line">
            Regular Button
          </button>
          <button type="button" class="btn-line btn-line">
            <span class="material-symbols-outlined btn-icon"> edit </span>
          </button>
          <button type="button" class="btn-line btn-line">
            <span class="material-symbols-outlined btn-icon"> edit </span>
            <span class="btn-txt">Edit</span>
          </button>
          <button type="button" class="btn-line btn-line">
            <span class="btn-txt">Create</span>
            <span class="material-symbols-outlined btn-icon"> add_circle </span>
          </button>
        </div>

        <div class="card-code">
          <app-comps-code [showCode]="'btn-01'"></app-comps-code>
        </div>
      </div>
    </div>

    <!-- In-build Colours -->
    <div class="app-card">
      <div class="card-header">
        <h3>In-Build Colours</h3>
      </div>
      <div class="card-body">
        <div class="card-block">
          <button type="button" class="btn-fill-gray">Gray</button>
          <button type="button" class="btn-fill-yellow">Yellow</button>
          <button type="button" class="btn-fill-green">Green</button>
          <button type="button" class="btn-fill-orange">Orange</button>
          <button type="button" class="btn-fill-blue">Blue</button>
          <button type="button" class="btn-fill-violet">Violet</button>
        </div>

        <div class="card-code">
          <app-comps-code [showCode]="'btn-02'"></app-comps-code>
        </div>
      </div>
    </div>

    <!-- In-build Colours -->
    <div class="app-card">
      <div class="card-header">
        <h3>Outline In-Build Colours</h3>
      </div>
      <div class="card-body">
        <div class="card-block">
          <button type="button" class="btn-line-yellow">Yellow</button>
          <button type="button" class="btn-line-green">Green</button>
          <button type="button" class="btn-line-orange">Orange</button>
          <button type="button" class="btn-line-blue">Blue</button>
          <button type="button" class="btn-line-violet">Violet</button>
        </div>

        <div class="card-code">
          <app-comps-code [showCode]="'btn-03'"></app-comps-code>
        </div>
      </div>
    </div>

    <!-- Button Round -->
    <div class="app-card card-expand">
      <div class="card-header">
        <h3>Button Round</h3>
      </div>
      <div class="card-body">
        <div class="card-block">
          <button type="button" class="btn-fill btn-round">Round Button</button>
          <button type="button" class="btn-fill btn-round">
            <span class="material-symbols-outlined btn-icon"> edit </span>
          </button>
          <button type="button" class="btn-fill btn-round">
            <span class="material-symbols-outlined btn-icon"> edit </span>
            <span class="btn-txt">Round Button</span>
          </button>
          <button type="button" class="btn-line btn-round">Round Button</button>
          <button type="button" class="btn-line btn-round">
            <span class="material-symbols-outlined btn-icon"> edit </span>
          </button>
          <button type="button" class="btn-line btn-round">
            <span class="material-symbols-outlined btn-icon"> edit </span>
            <span class="btn-txt">Round Button</span>
          </button>
        </div>

        <div class="card-code">
          <app-comps-code [showCode]="'btn-04'"></app-comps-code>
        </div>
      </div>
    </div>

    <!-- Icon Line Button -->
    <div class="app-card card-expand">
      <div class="card-header">
        <h3>Icon with Text</h3>
      </div>
      <div class="card-body">
        <div class="card-block">
          <button type="button" class="btn-iconTxt-gray">
            <span class="material-symbols-outlined btn-icon"> edit </span>
            <span class="btn-txt">Edit</span>
          </button>
          <button type="button" class="btn-iconTxt-yellow">
            <span class="material-symbols-outlined btn-icon"> add_circle </span>
            <span class="btn-txt">Create</span>
          </button>
          <button type="button" class="btn-iconTxt-green">
            <span class="material-symbols-outlined btn-icon"> done_all </span>
            <span class="btn-txt">Added</span>
          </button>
          <button type="button" class="btn-iconTxt-orange">
            <span class="material-symbols-outlined btn-icon"> delete </span>
            <span class="btn-txt">Delete</span>
          </button>
          <button type="button" class="btn-iconTxt-blue">
            <span class="material-symbols-outlined btn-icon"> thumb_up </span>
            <span class="btn-txt">Liked</span>
          </button>
          <button type="button" class="btn-iconTxt-violet">
            <span class="material-symbols-outlined btn-icon"> settings </span>
            <span class="btn-txt">Settings</span>
          </button>
        </div>

        <div class="card-code">
          <app-comps-code [showCode]="'btn-05'"></app-comps-code>
        </div>
      </div>
    </div>
  </section>
</section>
