<div class="template-container">
  <main class="minimal-edge">
    <header class="menubar-box">
      <div class="menubar-set-01">
        <img class="menubar-logo" src="me-logdark.svg" />
        <p class="menubar-logo-name">Menu</p>
      </div>
      <div class="menubar-set-02">
        <div class="menubar-link-left">
          <p
            class="menubar-link"
            *ngFor="
              let section of [
                'Getting Started',
                'Documentation',
                'Processes',
                'Support'
              ]
            "
            [class.active-link]="selectedSection === section"
            (click)="onSectionClick(section)"
          >
            {{ section }}
          </p>
        </div>
      </div>
      <div class="menubar-set-03">
        <form>
          <select>
            <option value="en">En</option>
            <option value="tn">Tn</option>
          </select>
        </form>
      </div>
    </header>

    <section class="app-body">
      <nav class="navbar-box" cssFusionNav>
        <div class="navbar-set01">
          <h3>Menus</h3>
          <span
            class="material-symbols-outlined nav-icon-trigger"
            id="navLeft-tigger"
          >
            keyboard_double_arrow_left
          </span>
        </div>
        <div class="navbar-set02">
          <ng-container *ngFor="let data of navMenusProp">
            <small class="nav-menu">{{ data.title }}</small>
            <p
              class="navbar-link"
              *ngFor="let menu of data.menus"
              [ngClass]="menu.text === selectedMenuTitle ? 'navbar-active' : ''"
              (click)="onMenuClick(menu)"
              
            >
              <span class="material-symbols-outlined nav-icon">{{
                menu.icon
              }}</span>
              <span class="nav-txt">{{ menu.text }}</span>
            </p>
          </ng-container>
        </div>
        <div class="navbar-set03">
          <div class="user">
            <span class="material-symbols-outlined user-img"
              >account_circle</span
            >
            <div class="user-info nav-txt">
              <h3 class="user-info-name">User Name</h3>
              <p class="user-info-desc">Ui/Ux Developer</p>
            </div>
          </div>
          <span class="material-symbols-outlined more-icon"> steppers </span>
        </div>
      </nav>

      <div class="app-content">
        <div class="me-content-intro">
          <h2>{{ appContentData[selectedSection]?.title }}</h2>
          <p *ngFor="let desc of appContentData[selectedSection]?.description">
            {{ desc }}
          </p>
        </div>
        <div class="me-content-nav-desc">
          <h3 class="user-info-name">{{ selectedMenuTitle }}</h3>
          <p class="user-info-desc">
            {{ selectedMenuContent }}
          </p>
        </div>
      </div>
    </section>
  </main>
</div>
