<section id="app-components">
  <!-- Intro -->
  <div class="app-intro-card">
    <div class="card-header">
      <h3>Left, but Never Behind</h3>
      <p>Vertical nav that anchors your app — smart, adaptive, and tidy.</p>
    </div>
    <div class="card-body"></div>
  </div>

  <div class="app-components-box-nav">
    <nav class="navbar-box resize">
      <div class="navbar-set01">
        <h3>
          <span class="material-symbols-outlined nav-logo"> android </span>
        </h3>
      </div>
      <div class="navbar-set02">
        <small class="nav-menu">Home</small>
        <p class="navbar-link navbar-active">
          <span class="material-symbols-outlined nav-icon">dashboard</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">add_circle</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">table</span>
        </p>
        <small class="nav-menu">Charts</small>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">finance</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">pie_chart</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">donut_small</span>
        </p>
      </div>
      <div class="navbar-set03">
        <div class="user">
          <span class="material-symbols-outlined user-img">account_circle</span>
        </div>
        <span class="material-symbols-outlined more-icon"> steppers </span>
      </div>
    </nav>

    <nav class="navbar-box">
      <div class="navbar-set01">
        <h3>
          <span class="material-symbols-outlined nav-logo"> android </span>
          <span class="nav-txt">Company Logo</span>
        </h3>
      </div>
      <div class="navbar-set02">
        <small class="nav-menu">Home</small>
        <p class="navbar-link navbar-active">
          <span class="material-symbols-outlined nav-icon">dashboard</span>
          <span class="nav-txt">Dashboard</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">add_circle</span>
          <span class="nav-txt">Creation</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">table</span>
          <span class="nav-txt">Summary</span>
        </p>
        <small class="nav-menu">Charts</small>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">finance</span>
          <span class="nav-txt">Bar Chart</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">pie_chart</span>
          <span class="nav-txt">Pie Chart</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">donut_small</span>
          <span class="nav-txt">Donut Chart</span>
        </p>
      </div>
      <div class="navbar-set03">
        <div class="user">
          <span class="material-symbols-outlined user-img">account_circle</span>
          <div class="user-info nav-txt">
            <h3>User Name</h3>
            <p>Ui/Ux Developer</p>
          </div>
        </div>
        <span class="material-symbols-outlined more-icon"> steppers </span>
      </div>
    </nav>

    <nav class="navbar-box" cssFusionNav>
      <div class="navbar-set01">
        <h3>
          <span class="material-symbols-outlined nav-logo"> android </span>
          <span class="nav-txt">Company Logo</span>
        </h3>
        <span
          class="material-symbols-outlined"
          id="navLeft-tigger"
        >
          keyboard_double_arrow_left
        </span>
      </div>
      <div class="navbar-set02">
        <small class="nav-menu">Home</small>
        <p class="navbar-link navbar-active">
          <span class="material-symbols-outlined nav-icon">dashboard</span>
          <span class="nav-txt">Dashboard</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">add_circle</span>
          <span class="nav-txt">Creation</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">table</span>
          <span class="nav-txt">Summary</span>
        </p>
        <small class="nav-menu">Charts</small>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">finance</span>
          <span class="nav-txt">Bar Chart</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">monitoring</span>
          <span class="nav-txt">Graph Chart</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">pie_chart</span>
          <span class="nav-txt">Pie Chart</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">donut_small</span>
          <span class="nav-txt">Donut Chart</span>
        </p>
        <small class="nav-menu">Screens</small>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">add_circle</span>
          <span class="nav-txt">Creation</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">edit</span>
          <span class="nav-txt">Edit</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">verified</span>
          <span class="nav-txt">Verification</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">description</span>
          <span class="nav-txt">Documentation</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">security</span>
          <span class="nav-txt">Validation</span>
        </p>
        <p class="navbar-link">
          <span class="material-symbols-outlined nav-icon">task</span>
          <span class="nav-txt">Submission</span>
        </p>
      </div>
      <div class="navbar-set03">
        <div class="user">
          <span class="material-symbols-outlined user-img">account_circle</span>
          <div class="user-info nav-txt">
            <h3>User Name</h3>
            <p>Ui/Ux Developer</p>
          </div>
        </div>
        <span class="material-symbols-outlined more-icon"> steppers </span>
      </div>
    </nav>
  </div>

  <div class="card-code">
    <app-comps-code [showCode]="'navbar-01'"></app-comps-code>
  </div>
</section>
