<section id="app-components">
  <!-- Intro -->
  <div class="app-intro-card">
    <div class="card-header">
      <h3>Options, Just a Click Away</h3>
      <p>
        Keep choices hidden until they're needed — clean, simple, dropdown
        magic.
      </p>
    </div>
    <div class="card-body">
      <div
        [class]="
          themeService.isDarkMode === true ? 'dropdown cf-dark' : 'dropdown'
        "
        id="dropdown01"
        cssFusionDropdown
      >
        <div class="dd-menu">
          <p class="dd-name">Mobile List</p>
          <span class="material-symbols-outlined"> arrow_drop_down </span>
        </div>
        <ul class="dd-list">
          <li class="dd-option">Apple</li>
          <li class="dd-option">Samsung</li>
          <li class="dd-option">Google Pixel</li>
          <li class="dd-option">Nokia</li>
          <li class="dd-option">Motorola</li>
          <li class="dd-option">Apple</li>
          <li class="dd-option">Samsung</li>
          <li class="dd-option">Google Pixel</li>
          <li class="dd-option">Nokia</li>
          <li class="dd-option">Motorola</li>
        </ul>
      </div>
    </div>
  </div>
</section>
