.home-01 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;

  h2 {
    font-size: 5.4rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 500;
    max-width: 54rem;
  }

  .home-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2.4rem;

    button {
      border: none;
      padding: 0.8rem 1.4rem;
      border-radius: 0.6rem;
      font-size: 1.2rem;

      letter-spacing: 0.1rem;

      &:nth-child(1) {
        background-color: var(--app-theme-dark-bg);
        color: var(--app-theme-dark-font);
        font-weight: 500;
      }

      &:nth-child(2) {
        background-color: var(--app-theme-light-bg);
        color: var(--app-theme-light-font);
        font-weight: 600;
      }
    }
  }

  img {
    width: 100%;
    max-width: 48rem;
  }
}

.home-02 {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 3rem 3rem;

  h2 {
    font-size: 5.4rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .home-desc {
    text-align: center;
  }

  .installation {
    min-width: 20rem;
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;

    h3 {
      font-family: var(--app-content-font);
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 0.4rem;
    }

    p {
      margin-bottom: 1rem;
    }

    .install-code {
      max-width: fit-content;
      border: 0.1rem solid var(--list-card-bdr);
      background-color: var(--list-card-bg);
      padding: 1.4rem;
      border-radius: 0.4rem;
    }
  }
}

pre,
code {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}

@media only screen and (max-width: 980px) {
  .home-01 {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem !important;
    padding: 3rem;

    h2,
    p {
      text-align: center;
    }

    .home-btns {
      justify-content: center !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home-01 {
    h2 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }
}
