<div *ngIf="showCode === 'scss-variables'">
  <div class="code-box">
    <header>
      <p>Scss Snippet</p>
      <button
        class="code-copy"
        matTooltip="copy"
        (click)="copyCode(scssVariables)"
      >
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-css" #scssVariables>
:root &#123;
  // Font
  --font-style: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;

  // Dark
  --yellow-dark-clr: rgb(250, 175, 0);
  --green-dark-clr: rgb(1, 157, 157);
  --orange-dark-clr: rgb(255, 90, 31);
  --blue-dark-clr: rgb(15, 85, 235);
  --violet-dark-clr: rgb(127, 54, 221);
  --gray-dark-clr: rgb(159, 159, 159);
  // Medium
  --yellow-medium-clr: #ffbd02;
  --green-medium-clr: #02bbbd;
  --orange-medium-clr: #ff7c4b;
  --blue-medium-clr: #3971ff;
  --violet-medium-clr: #9e54ff;
  --gray-medium-clr: #bababa;
  // Light
  --yellow-light-clr: #fbd97a;
  --green-light-clr: #8ad2d3;
  --orange-light-clr: #f6bc9a;
  --blue-light-clr: #b5e1ff;
  --violet-light-clr: #caa7ff;
  --gray-light-clr: #e5e5e5;
  // Font
  --yellow-font-clr: #ffffff;
  --green-font-clr: #ffffff;
  --orange-font-clr: #ffffff;
  --blue-font-clr: #ffffff;
  --violet-font-clr: #ffffff;
  --gray-font-clr: white;

  // Table
  --tbl-dark-clr: #d1d1d1;
  --tbl-medium-clr: #ebebeb;
  --tbl-light-clr: #dbdbdb;
  --tbl-font-clr: #898989;
  --th-font-weight: 400;

  // Button
  --btn-dark-clr: #d7d7d7;
  --btn-medium-clr: #f8f8f8;
  --btn-light-clr: #dbdbdb;
  --btn-font-clr: #898989;

  // Card
  --card-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --card-width: 100%;
  --card-fixed-width: 400px;

  // Inputs
  --input-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --input-dark-clr: #bfbfbf;
  --input-medium-clr: #cecece;
  --input-light-clr: #ffffff;
  --input-font-clr: #727272;

  // Nav
  --nav-dark-clr: #7d7d7d;
  --nav-medium-clr: #c8c8c8;
  --nav-light-clr: #fafafa;
  --nav-font-clr: #ffffff;

  // Colour Mode
  --cf-mode-primary: #ffffff;
  --cf-mode-secondary: #faf9f8;
  --cf-mode-active: #e1e1e1;
  --cf-mode-font-primary: #1f1e1e;
  --cf-mode-font-secondary: #535151;
&#125;

// In-Build Colours
$buildIn: (
  "yellow": var(--yellow-dark-clr),
  "green": var(--green-dark-clr),
  "orange": var(--orange-dark-clr),
  "blue": var(--blue-dark-clr),
  "violet": var(--violet-dark-clr),
  "gray": var(--gray-dark-clr),
);

$colors: (
  "yellow": (
    var(--yellow-dark-clr),
    var(--yellow-medium-clr),
    var(--yellow-light-clr),
    var(--yellow-font-clr),
  ),
  "green": (
    var(--green-dark-clr),
    var(--green-medium-clr),
    var(--green-light-clr),
    var(--green-font-clr),
  ),
  "orange": (
    var(--orange-dark-clr),
    var(--orange-medium-clr),
    var(--orange-light-clr),
    var(--orange-font-clr),
  ),
  "blue": (
    var(--blue-dark-clr),
    var(--blue-medium-clr),
    var(--blue-light-clr),
    var(--blue-font-clr),
  ),
  "violet": (
    var(--violet-dark-clr),
    var(--violet-medium-clr),
    var(--violet-light-clr),
    var(--violet-font-clr),
  ),
  "gray": (
    var(--gray-dark-clr),
    var(--gray-medium-clr),
    var(--gray-light-clr),
    var(--gray-font-clr),
  ),
);

.cf-dark &#123;
  --cf-mode-primary: #1d1d1d !important;
  --cf-mode-secondary: #303030 !important;
  --cf-mode-active: #393939 !important;
  --cf-mode-font-primary: #fcfcfc !important;
  --cf-mode-font-secondary: #a1a1a1 !important;
&#125;
</code>
</pre>
    </div>
  </div>
</div>

<!-- Accordion -->
<div *ngIf="showCode === 'accordion-01'">
  <div class="code-box">
    <header>
      <p></p>
      <button
        class="code-copy"
        matTooltip="copy"
        (click)="copyCode(accordion01)"
      >
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #accordion01>
&lt;div class="accordion-grup"&gt;
  &lt;div class="accordion-main"&gt;
    &lt;div class="acc-head"&gt;
      &lt;h2 class="acc-title"&gt;
        &lt;mat-icon class="acc-title-icon"&gt;pan_tool&lt;/mat-icon&gt;
        Introduction
      &lt;/h2&gt;
      &lt;mat-icon class="state-arrow"&gt;keyboard_arrow_down&lt;/mat-icon&gt;
    &lt;/div&gt;
    &lt;div class="acc-body"&gt;
      &lt;div class="acc-content"&gt;...&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'accordion-02'">
  <div class="code-box">
    <header>
      <p></p>
      <button
        class="code-copy"
        matTooltip="copy"
        (click)="copyCode(accordion02)"
      >
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-javascript" #accordion02>
import &#123; Accordion &#125; from '&#64;dev.spot/css-fusion';

export class AccordionComponent implements OnInit &#123;
  ngOnInit() &#123;
    setTimeout(() => &#123;
      this.accordion();
    &#125;);
    &#125;
  &#125;

  accordion() &#123;
    const accordionElements = document.querySelectorAll('.accordion-main');
    new Accordion(accordionElements as NodeListOf&lt;HTMLElement&gt;);
  &#123;
&#125;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'acc-static'">
  <div class="code-box">
    <header>
      <p>Html Snippet</p>
      <button
        class="code-copy"
        matTooltip="copy"
        (click)="copyCode(acc_static)"
      >
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #acc_static>
&lt;div class="accordion-grup"&gt;
  &lt;div class="accordion-main"&gt;
    &lt;div class="acc-head acc-static"&gt;
      &lt;h2 class="acc-title"&gt;...&lt;/h2&gt;
      &lt;mat-icon class="state-arrow"&gt;keyboard_arrow_down&lt;/mat-icon&gt;
    &lt;/div&gt;
    &lt;div class="acc-body"&gt;
      &lt;div class="acc-content"&gt;&lt;p&gt;...&lt;/p&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="accordion-main"&gt;
    &lt;div class="acc-head acc-static"&gt;
      &lt;h2 class="acc-title"&gt;...&lt;/h2&gt;
      &lt;mat-icon class="state-arrow"&gt;keyboard_arrow_down&lt;/mat-icon&gt;
    &lt;/div&gt;
    &lt;div class="acc-body"&gt;
      &lt;div class="acc-content"&gt;&lt;p&gt;...&lt;/p&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'acc-dynamic'">
  <div class="code-box">
    <header>
      <p>Html Snippet</p>
      <button
        class="code-copy"
        matTooltip="copy"
        (click)="copyCode(acc_dynamic)"
      >
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #acc_dynamic>
&lt;div class="accordion-grup"&gt;
  &lt;div class="accordion-main"&gt;
    &lt;div class="acc-head"&gt;
      &lt;h2 class="acc-title"&gt;...&lt;/h2&gt;
      &lt;mat-icon class="state-arrow"&gt;keyboard_arrow_down&lt;/mat-icon&gt;
    &lt;/div&gt;
    &lt;div class="acc-body"&gt;
      &lt;div class="acc-content"&gt;&lt;p&gt;...&lt;/p&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="accordion-main"&gt;
    &lt;div class="acc-head"&gt;
      &lt;h2 class="acc-title"&gt;...&lt;/h2&gt;
      &lt;mat-icon class="state-arrow"&gt;keyboard_arrow_down&lt;/mat-icon&gt;
    &lt;/div&gt;
    &lt;div class="acc-body"&gt;
      &lt;div class="acc-content"&gt;&lt;p&gt;...&lt;/p&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'acc-open'">
  <div class="code-box">
    <header>
      <p>Html Snippet</p>
      <button
        class="code-copy"
        matTooltip="copy"
        (click)="copyCode(accordion01)"
      >
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #accordion01>
  &lt;div class="accordion-grup"&gt;
    &lt;div class="accordion-main"&gt;
      &lt;div class="acc-head"&gt;
        &lt;div class="title"&gt;
          &lt;h2&gt;...&lt;/h2&gt;
          &lt;mat-icon class="state-arrow"&gt;keyboard_arrow_down&lt;/mat-icon&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="acc-body acc-open"&gt;
        &lt;div class="acc-content"&gt;...&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'acc-dark'">
  <div class="code-box">
    <header>
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(acc_dark)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #acc_dark>
&lt;div class="accordion-grup cf-dark"&gt; &lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'acc-light'">
  <div class="code-box">
    <header>
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(acc_light)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #acc_light>
&lt;div class="accordion-grup"&gt; &lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'acc-buildin'">
  <div class="code-box">
    <header>
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(acc_light)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #acc_light>
&lt;div class="accordion-grup"&gt;
  &lt;div class="accordion-main accordion-yellow"&gt;
&lt;/div&gt;
&lt;div class="accordion-grup"&gt;
  &lt;div class="accordion-main accordion-green"&gt;
&lt;/div&gt;
&lt;div class="accordion-grup"&gt;
  &lt;div class="accordion-main accordion-orange"&gt;
&lt;/div&gt;
&lt;div class="accordion-grup"&gt;
  &lt;div class="accordion-main accordion-blue"&gt;
&lt;/div&gt;
&lt;div class="accordion-grup"&gt;
  &lt;div class="accordion-main accordion-violet"&gt;
&lt;/div&gt;
&lt;div class="accordion-grup"&gt;
  &lt;div class="accordion-main accordion-gray"&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'acc-structure'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button
        class="code-copy"
        matTooltip="copy"
        (click)="copyCode(accStructure)"
      >
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #accStructure>
&lt;!-- Containers --&gt;
&lt;div class="accordion-grup"&gt; &lt;/div&gt; &lt;!-- Group all accordion --&gt;
&lt;div class="accordion-main"&gt; &lt;/div&gt; &lt;!-- Accordion Container --&gt;

&lt;!-- Inbuild Colour --&gt;
&lt;div class="accordion-main accordion-yellow"&gt;
&lt;div class="accordion-main accordion-green"&gt;
&lt;div class="accordion-main accordion-orange"&gt;
&lt;div class="accordion-main accordion-blue"&gt;
&lt;div class="accordion-main accordion-violet"&gt;
&lt;div class="accordion-main accordion-gray"&gt;

&lt;!-- Header --&gt;
&lt;div class="acc-head"&gt; &lt;/div&gt; &lt;!-- Dynamic Accordion --&gt;
&lt;div class="acc-head acc-static"&gt; &lt;/div&gt; &lt;!-- Static Accordion --&gt;
&lt;h2 class="acc-title"&gt; &lt;/h2&gt; &lt;!-- Accordion Title --&gt;
&lt;mat-icon class="acc-title-icon"&gt; &lt;/mat-icon&gt; &lt;!-- Accordion Title Icon --&gt;
&lt;mat-icon class="state-arrow"&gt; &lt;/mat-icon&gt; &lt;!-- Accordion Arrow --&gt;

&lt;!-- Body --&gt;
&lt;div class="acc-body"&gt; &lt;/div&gt; &lt;!-- Accordion Body --&gt;
&lt;div class="acc-body acc-open"&gt; &lt;/div&gt; &lt;!-- Default Expand --&gt;
&lt;div class="acc-content"&gt; &lt;/div&gt; &lt;!-- Accordion Body Content container  --&gt;
</code>
</pre>
    </div>
  </div>
</div>

<!-- Button -->
<div *ngIf="showCode === 'btn-01'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(btn01)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #btn01>
&lt;button type="button" class="btn-line btn-line"&gt;Regular Button&lt;/button&gt;
&lt;button type="button" class="btn-line btn-line"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; edit &lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-line btn-line"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; edit &lt;/span&gt;
  &lt;span class="btn-txt"&gt;Edit&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-line btn-line"&gt;
  &lt;span class="btn-txt"&gt;Create&lt;/span&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; add_circle &lt;/span&gt;
&lt;/button&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'btn-02'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(btn02)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #btn02>
&lt;button type="button" class="btn-fill-gray"&gt;Gray&lt;/button&gt;
&lt;button type="button" class="btn-fill-yellow"&gt;Yellow&lt;/button&gt;
&lt;button type="button" class="btn-fill-green"&gt;Green&lt;/button&gt;
&lt;button type="button" class="btn-fill-orange"&gt;Orange&lt;/button&gt;
&lt;button type="button" class="btn-fill-blue"&gt;Blue&lt;/button&gt;
&lt;button type="button" class="btn-fill-violet"&gt;Violet&lt;/button&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'btn-03'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(btn03)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #btn03>
&lt;button type="button" class="btn-line-yellow"&gt;Yellow&lt;/button&gt;
&lt;button type="button" class="btn-line-green"&gt;Green&lt;/button&gt;
&lt;button type="button" class="btn-line-orange"&gt;Orange&lt;/button&gt;
&lt;button type="button" class="btn-line-blue"&gt;Blue&lt;/button&gt;
&lt;button type="button" class="btn-line-violet"&gt;Violet&lt;/button&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'btn-04'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(btn04)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #btn04>
&lt;button type="button" class="btn-fill btn-round"&gt;Round Button&lt;/button&gt;
&lt;button type="button" class="btn-fill btn-round"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; edit &lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-fill btn-round"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; edit &lt;/span&gt;
  &lt;span class="btn-txt"&gt;Round Button&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-line btn-round"&gt;Round Button&lt;/button&gt;
&lt;button type="button" class="btn-line btn-round"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; edit &lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-line btn-round"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; edit &lt;/span&gt;
  &lt;span class="btn-txt"&gt;Round Button&lt;/span&gt;
&lt;/button&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'btn-05'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(btn05)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #btn05>
&lt;button type="button" class="btn-iconTxt-gray"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; edit &lt;/span&gt;
  &lt;span class="btn-txt"&gt;Edit&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-iconTxt-yellow"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; add_circle &lt;/span&gt;
  &lt;span class="btn-txt"&gt;Create&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-iconTxt-green"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; done_all &lt;/span&gt;
  &lt;span class="btn-txt"&gt;Added&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-iconTxt-orange"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; delete &lt;/span&gt;
  &lt;span class="btn-txt"&gt;Delete&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-iconTxt-blue"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; thumb_up &lt;/span&gt;
  &lt;span class="btn-txt"&gt;Liked&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="btn-iconTxt-violet"&gt;
  &lt;span class="material-symbols-outlined btn-icon"&gt; settings &lt;/span&gt;
  &lt;span class="btn-txt"&gt;Settings&lt;/span&gt;
&lt;/button&gt;
</code>
</pre>
    </div>
  </div>
</div>

<!-- Card -->
<div *ngIf="showCode === 'card-01'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(card01)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #card01>
&lt;div class="card-box card-fixed"&gt;
  &lt;div class="card-head"&gt;
    &lt;div class="card-title"&gt;...&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card-body"&gt;...&lt;/div&gt;
  &lt;div class="card-footer"&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'card-02'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(card02)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #card02>
&lt;div class="card-box"&gt;
  &lt;div class="card-head"&gt;
    &lt;div class="card-title"&gt;...&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card-body"&gt;...&lt;/div&gt;
  &lt;div class="card-footer"&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'card-03'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(card03)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #card03>
&lt;div class="card-box-yellow card-fixed"&gt;...&lt;/div&gt;
&lt;div class="card-box-green card-fixed"&gt;...&lt;/div&gt;
&lt;div class="card-box-orange card-fixed"&gt;...&lt;/div&gt;
&lt;div class="card-box-blue card-fixed"&gt;...&lt;/div&gt;
&lt;div class="card-box-violet card-fixed"&gt;...&lt;/div&gt;
&lt;div class="card-box-gray card-fixed"&gt;...&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'card-04'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(card04)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #card04>
&lt;div class="card-box card-fixed card-lines"&gt;
  &lt;div class="card-head"&gt;
    &lt;div class="card-title"&gt;...&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="card-body"&gt;...&lt;/div&gt;
  &lt;div class="card-footer"&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'card-05'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(card03)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #card03>
&lt;div class="card-box-yellow card-fixed card-lines-yellow"&gt;...&lt;/div&gt;
&lt;div class="card-box-green card-fixed card-lines-green"&gt;...&lt;/div&gt;
&lt;div class="card-box-orange card-fixed card-lines-orange"&gt;...&lt;/div&gt;
&lt;div class="card-box-blue card-fixed card-lines-blue"&gt;...&lt;/div&gt;
&lt;div class="card-box-violet card-fixed card-lines-violet"&gt;...&lt;/div&gt;
&lt;div class="card-box-gray card-fixed card-lines-gray"&gt;...&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'card-06'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(card03)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #card03>
&lt;div class="chart-cards"&gt;
  &lt;!-- Yellow --&gt;
  &lt;div class="card-box-yellow card-fixed"&gt;
    &lt;div class="card-head"&gt;
      &lt;div class="card-title"&gt;...&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="card-body"&gt;
      &lt;p class="chart-num"&gt;...&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Green --&gt;
  &lt;div class="card-box-green card-fixed"&gt;
    &lt;div class="card-head"&gt;
      &lt;div class="card-title"&gt;...&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="card-body"&gt;
      &lt;p class="chart-num"&gt;...&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Orange --&gt;
  &lt;div class="card-box-orange card-fixed"&gt;
    &lt;div class="card-head"&gt;
      &lt;div class="card-title"&gt;...&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="card-body"&gt;
      &lt;p class="chart-num"&gt;...&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Blue --&gt;
  &lt;div class="card-box-blue card-fixed"&gt;
    &lt;div class="card-head"&gt;
      &lt;div class="card-title"&gt;...&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="card-body"&gt;
      &lt;p class="chart-num"&gt;...&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Violet --&gt;
  &lt;div class="card-box-violet card-fixed"&gt;
    &lt;div class="card-head"&gt;
      &lt;div class="card-title"&gt;...&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="card-body"&gt;
      &lt;p class="chart-num"&gt;...&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Gray --&gt;
  &lt;div class="card-box-gray card-fixed"&gt;
    &lt;div class="card-head"&gt;
      &lt;div class="card-title"&gt;...&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="card-body"&gt;
      &lt;p class="chart-num"&gt;...&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<!-- Dropdown -->
<div *ngIf="showCode === 'dropdown-01'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button
        class="code-copy"
        matTooltip="copy"
        (click)="copyCode(dropdown01)"
      >
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #dropdown01>
&lt;div class="dropdown-box" id="dropdown01" cssFusionDropdown&gt;
  &lt;div class="dd-menu"&gt;
    &lt;p class="dd-name"&gt;...&lt;/p&gt;
    &lt;span class="material-symbols-outlined"&gt; arrow_drop_down &lt;/span&gt;
  &lt;/div&gt;
  &lt;ul class="dd-list"&gt;
    &lt;li class="dd-option"&gt;...&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<!-- Navbar -->
<div *ngIf="showCode === 'navbar-01'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(navbar01)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #navbar01>
&lt;nav class="navbar-box" cssFusionNav&gt;
  &lt;div class="navbar-set01"&gt;
    &lt;h3&gt;
      &lt;span class="material-symbols-outlined nav-logo"&gt; android &lt;/span&gt;
      &lt;span class="nav-txt"&gt;Company Logo&lt;/span&gt;
    &lt;/h3&gt;
    &lt;span
      class="material-symbols-outlined nav-icon-trigger"
      id="navLeft-tigger"
    &gt;
      keyboard_double_arrow_left
    &lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="navbar-set02"&gt;
    &lt;small class="nav-menu"&gt;Home&lt;/small&gt;
    &lt;p class="navbar-link navbar-active"&gt;
      &lt;span class="material-symbols-outlined nav-icon"&gt;dashboard&lt;/span&gt;
      &lt;span class="nav-txt"&gt;Dashboard&lt;/span&gt;
    &lt;/p&gt;
     &lt;p class="navbar-link navbar-active"&gt;
      &lt;span class="material-symbols-outlined nav-icon"&gt;add_circle&lt;/span&gt;
      &lt;span class="nav-txt"&gt;...&lt;/span&gt;
    &lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="navbar-set03"&gt;
    &lt;div class="user"&gt;
      &lt;span class="material-symbols-outlined user-img"&gt;account_circle&lt;/span&gt;
      &lt;div class="user-info nav-txt"&gt;
        &lt;h3&gt;User Name&lt;/h3&gt;
        &lt;p&gt;Ui/Ux Developer&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;span class="material-symbols-outlined more-icon"&gt; steppers &lt;/span&gt;
  &lt;/div&gt;
&lt;/nav&gt;
</code>
</pre>
    </div>
  </div>
</div>

<!-- Menubar -->
<div *ngIf="showCode === 'menubar-01'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(menubar01)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #menubar01>
&lt;header class="menubar-box"&gt;
  &lt;div class="menubar-set-01"&gt;
    &lt;img class="menubar-logo" src="./logo.svg" /&gt;
    &lt;p&gt;Menu&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="menubar-set-02"&gt;
    &lt;div class="menubar-link-center"&gt;
      &lt;p class="menubar-link active-link"&gt;Css&lt;/p&gt;
      &lt;p class="menubar-link"&gt;Scss&lt;/p&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="menubar-set-03"&gt;
    &lt;form&gt;
      &lt;select&gt;
        &lt;option value="en"&gt;En&lt;/option&gt;
        &lt;option value="tn"&gt;Tn&lt;/option&gt;
      &lt;/select&gt;
    &lt;/form&gt;
  &lt;/div&gt;
&lt;/header&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'menubar-02'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(menubar02)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #menubar02>
&lt;header class="menubar-box"&gt;
  &lt;div class="menubar-set-01"&gt;
    &lt;img class="menubar-logo" src="./logo.svg" /&gt;
    &lt;p&gt;Menu&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="menubar-set-02"&gt;
    &lt;div class="menubar-link-left"&gt;
      &lt;p class="menubar-link active-link"&gt;Css&lt;/p&gt;
      &lt;p class="menubar-link"&gt;Scss&lt;/p&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="menubar-set-03"&gt;
    &lt;form&gt;
      &lt;select&gt;
        &lt;option value="en"&gt;En&lt;/option&gt;
        &lt;option value="tn"&gt;Tn&lt;/option&gt;
      &lt;/select&gt;
    &lt;/form&gt;
  &lt;/div&gt;
&lt;/header&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'menubar-03'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(menubar03)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #menubar03>
&lt;header class="menubar-box"&gt;
  &lt;div class="menubar-set-01"&gt;
    &lt;img class="menubar-logo" src="./logo.svg" /&gt;
    &lt;p&gt;Menu&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="menubar-set-02"&gt;
    &lt;div class="menubar-link-right"&gt;
      &lt;p class="menubar-link active-link"&gt;Css&lt;/p&gt;
      &lt;p class="menubar-link"&gt;Scss&lt;/p&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="menubar-set-03"&gt;
    &lt;form&gt;
      &lt;select&gt;
        &lt;option value="en"&gt;En&lt;/option&gt;
        &lt;option value="tn"&gt;Tn&lt;/option&gt;
      &lt;/select&gt;
    &lt;/form&gt;
  &lt;/div&gt;
&lt;/header&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'menubar-04'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(menubar03)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #menubar03>
&lt;header class="menubar-resizable"&gt;
  &lt;div class="menubar-set-01"&gt;
    &lt;span class="material-symbols-outlined" id="menubar-thumb"&gt; menu &lt;/span&gt;
    &lt;p&gt;Menu&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="menubar-set-02"&gt;
    &lt;span class="material-symbols-outlined btn-icon"&gt; logout &lt;/span&gt;
    &lt;div class="menubar-profile-box"&gt;
      &lt;span class="material-symbols-outlined btn-icon"&gt; account_circle &lt;/span&gt;
      &lt;div class="profile-details"&gt;
        &lt;p class="profile-name"&gt;Peter&lt;/p&gt;
        &lt;small class="profile-role"&gt;Senior Developer&lt;/small&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;
</code>
</pre>
    </div>
  </div>
</div>

<!-- Table -->
<div *ngIf="showCode === 'table-01'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table01)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table01>
&lt;div class="table-box tbl-bdr-btm"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-02'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table02)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table02>
&lt;div class="table-btns"&gt;
  &lt;button type="button" class="page-btn"&gt;
    &lt;span class="material-symbols-outlined"&gt; keyboard_double_arrow_left &lt;/span&gt;
  &lt;/button&gt;
  &lt;button type="button" class="page-btn"&gt;
    &lt;span class="material-symbols-outlined"&gt; chevron_left &lt;/span&gt;
  &lt;/button&gt;
  &lt;p class="page-count"&gt;&lt;span class="active-page"&gt;01&lt;/span&gt; of 50&lt;/p&gt;
  &lt;button type="button" class="page-btn"&gt;
    &lt;span class="material-symbols-outlined"&gt; chevron_right &lt;/span&gt;
  &lt;/button&gt;
  &lt;button type="button" class="page-btn"&gt;
    &lt;span class="material-symbols-outlined"&gt; keyboard_double_arrow_right &lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-03'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table03)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table03>
&lt;div class="table-box tbl-bdr-btm"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-04'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table04)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table04>
&lt;div class="table-box tbl-bdr-rect"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-05'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table05)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table05>
&lt;div class="table-box-blue tbl-bdr-btm-blue"&gt;
  &lt;table&gt;...&lt;/table&gt;
&lt;/div&gt;

&lt;div class="table-box-yellow tbl-bdr-btm-yellow"&gt;
  &lt;table&gt;...&lt;/table&gt;
&lt;/div&gt;

&lt;div class="table-box-green tbl-bdr-btm-green"&gt;
  &lt;table&gt;...&lt;/table&gt;
&lt;/div&gt;

&lt;div class="table-box-orange tbl-bdr-btm-orange"&gt;
  &lt;table&gt;...&lt;/table&gt;
&lt;/div&gt;

&lt;div class="table-box-violet tbl-bdr-btm-violet"&gt;
  &lt;table&gt;...&lt;/table&gt;
&lt;/div&gt;

&lt;div class="table-box-gray tbl-bdr-btm-gray"&gt;
  &lt;table&gt;...&lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-06'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table06)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table06>
&lt;div class="table-box tbl-responsive tbl-bdr-btm"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-07'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table07)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table07>
&lt;div class="table-box table-box tbl-bdr-btm tbl-line-hover"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-08'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table08)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table08>
&lt;div class="table-box tbl-bdr-rect tbl-row-hover"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-09'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table09)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table09>
&lt;div class="table-box tbl-row-even"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-10'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table10)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table10>
&lt;div class="table-box tbl-clm-even"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-11'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table11)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table11>
&lt;div class="table-box tbl-row-odd"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-12'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table12)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table12>
&lt;div class="table-box tbl-clm-odd"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;...&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;...&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<div *ngIf="showCode === 'table-13'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(table12)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #table12>
&lt;div class="table-box tbl-responsive tbl-bdr-btm"&gt;
  &lt;table&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th class="tbl-col-xsm"&gt;SI.No&lt;/th&gt;
        &lt;th&gt;Batch No&lt;/th&gt;
        &lt;th&gt;Brand&lt;/th&gt;
        &lt;th
          class="tbl-col-sm tbl-sort"
          [tableData]="tableLg"
          [columnIndex]="3"
          (sortChanged)="onSortChanged($event)"
          (sortStatus)="sortStatus = $event"
          cssFusionTable
        &gt;
          &lt;p&gt;
            Modal
            &lt;b&gt;({{flowerOpen}} sortStatus {{flowerClose}})&lt;/b&gt;
            &lt;span class="material-symbols-outlined"&gt; swap_vert &lt;/span&gt;
          &lt;/p&gt;
        &lt;/th&gt;
        &lt;th&gt;Service Date&lt;/th&gt;
        &lt;th class="tbl-col-md"&gt;Description&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr *ngFor="let tbody of tableLg"&gt;
        &lt;td *ngFor="let tr of tbody.tr"&gt;{{flowerOpen}} tr {{flowerClose}}&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
&lt;div class="table-btns"&gt;
  &lt;button type="button" class="page-btn" (click)="clearSort()"&gt;
    &lt;span class="material-symbols-outlined"&gt; restart_alt &lt;/span&gt;
  &lt;/button&gt;
  &lt;button type="button" class="page-btn"&gt;
    &lt;span class="material-symbols-outlined"&gt; keyboard_double_arrow_left &lt;/span&gt;
  &lt;/button&gt;
  &lt;button type="button" class="page-btn"&gt;
    &lt;span class="material-symbols-outlined"&gt; chevron_left &lt;/span&gt;
  &lt;/button&gt;
  &lt;p class="page-count"&gt;&lt;span class="active-page"&gt;01&lt;/span&gt; of 50&lt;/p&gt;
  &lt;button type="button" class="page-btn"&gt;
    &lt;span class="material-symbols-outlined"&gt; chevron_right &lt;/span&gt;
  &lt;/button&gt;
  &lt;button type="button" class="page-btn"&gt;
    &lt;span class="material-symbols-outlined"&gt; keyboard_double_arrow_right &lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>

<!-- Tabs -->
<div *ngIf="showCode === 'tabs-01'">
  <div class="code-box">
    <header *ngIf="compCodeHead === true">
      <p>Html Snippet</p>
      <button class="code-copy" matTooltip="copy" (click)="copyCode(tabs01)">
        <span class="material-symbols-outlined"> file_copy </span>
      </button>
    </header>
    <div class="code-box-container">
      <pre class="line-numbers">
<code class="language-html" #tabs01>
&lt;div class="tabs-box tab-bdr" cssFusionTabs&gt;
  &lt;div class="tab-list-group tab-list-center"&gt;
    &lt;p class="scroll-arrow tab-left"&gt;
      &lt;mat-icon class="btn-icon"&gt;keyboard_arrow_left&lt;/mat-icon&gt;
    &lt;/p&gt;
    &lt;nav class="tab-list"&gt;
      &lt;p class="tab-name tab-01 active-tab"&gt;Home&lt;/p&gt;
      &lt;p class="tab-name tab-02"&gt;Company&lt;/p&gt;
      &lt;p class="tab-name tab-03"&gt;Service&lt;/p&gt;
    &lt;/nav&gt;
    &lt;p class="scroll-arrow tab-right"&gt;
      &lt;mat-icon class="btn-icon"&gt;keyboard_arrow_right&lt;/mat-icon&gt;
    &lt;/p&gt;
  &lt;/div&gt;
  &lt;section class="tab-body-set"&gt;
    &lt;ng-container *ngFor="let data of tabContent"&gt;
      &lt;div [class]="data.class"&gt;
        &lt;h3 class="tab-title"&gt;{{flowerOpen}} data.tabTitle {{flowerClose}}&lt;/h3&gt;
        &lt;p class="tab-content"&gt;{{flowerOpen}} data.tabContent {{flowerClose}}&lt;/p&gt;
      &lt;/div&gt;
    &lt;/ng-container&gt;
  &lt;/section&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
  </div>
</div>
