<section id="app-components">
  <!-- Intro -->
  <div class="app-intro-card">
    <div class="card-header">
      <h3>Data, but Make It Stylish</h3>
      <p>
        Organize your numbers and info with scrollable, sortable, polished
        tables.
      </p>
    </div>
    <div class="card-body"></div>
  </div>

  <div class="app-components-box">
    <!-- Regular Table -->
    <section class="app-card">
      <div class="card-header">
        <h3>Regular</h3>
      </div>
      <div class="card-body">
        <div class="table-box tbl-bdr-btm">
          <table>
            <thead>
              <tr>
                <th>SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
                <th>Service Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableMd">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-01'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Pagination -->
    <section class="app-card">
      <div class="card-header">
        <h3>Pagination</h3>
      </div>
      <div class="card-body">
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-02'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Border Bottom -->
    <section class="app-card">
      <div class="card-header">
        <h3>Border Bottom</h3>
      </div>
      <div class="card-body">
        <div class="table-box tbl-bdr-btm">
          <table>
            <thead>
              <tr>
                <th>SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableMini">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-03'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Border Rectangle -->
    <section class="app-card">
      <div class="card-header">
        <h3>Border Rectangle</h3>
      </div>
      <div class="card-body">
        <div class="table-box tbl-bdr-rect">
          <table>
            <thead>
              <tr>
                <th class="tbl-col-xsm">SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableMini">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-04'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Build-In Colours -->
    <section class="app-card">
      <div class="card-header">
        <h3>In-Build Colours</h3>
        <div class="card-header-box">
          <p
            [class]="
              getInBuildClr === 'blue'
                ? 'clr-blocks clr-blue active-clr'
                : 'clr-blocks clr-blue'
            "
            (click)="inBuildClrs('blue')"
          ></p>
          <p
            [class]="
              getInBuildClr === 'yellow'
                ? 'clr-blocks clr-yellow active-clr'
                : 'clr-blocks clr-yellow'
            "
            (click)="inBuildClrs('yellow')"
          ></p>
          <p
            [class]="
              getInBuildClr === 'green'
                ? 'clr-blocks clr-green active-clr'
                : 'clr-blocks clr-green'
            "
            (click)="inBuildClrs('green')"
          ></p>
          <p
            [class]="
              getInBuildClr === 'orange'
                ? 'clr-blocks clr-orange active-clr'
                : 'clr-blocks clr-orange'
            "
            (click)="inBuildClrs('orange')"
          ></p>
          <p
            [class]="
              getInBuildClr === 'violet'
                ? 'clr-blocks clr-violet active-clr'
                : 'clr-blocks clr-violet'
            "
            (click)="inBuildClrs('violet')"
          ></p>
          <p
            [class]="
              getInBuildClr === 'gray'
                ? 'clr-blocks clr-gray active-clr'
                : 'clr-blocks clr-gray'
            "
            (click)="inBuildClrs('gray')"
          ></p>
        </div>
      </div>
      <div class="card-body">
        <div
          [class]="
            'table-box-' + getInBuildClr + ' tbl-bdr-btm-' + getInBuildClr
          "
        >
          <table>
            <thead>
              <tr>
                <th>SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
                <th>Service Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableSm">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div [class]="'table-btns-' + getInBuildClr">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-05'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Responsive Table -->
    <section class="app-card">
      <div class="card-header">
        <h3>Responsive Border Bottom Table</h3>
      </div>
      <div class="card-body">
        <div class="table-box tbl-responsive tbl-bdr-btm">
          <table>
            <thead>
              <tr>
                <th class="tbl-col-xsm">SI.No</th>
                <th>Batch No</th>
                <th>Brand</th>
                <th>Modal</th>
                <th>Service Date</th>
                <th class="tbl-col-md">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableLg">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-06'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Left Line Hover -->
    <section class="app-card">
      <div class="card-header">
        <h3>Left Line Hover</h3>
      </div>
      <div class="card-body">
        <div class="table-box table-box tbl-bdr-btm tbl-line-hover">
          <table>
            <thead>
              <tr>
                <th>SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableMini">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-07'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Row Hover -->
    <section class="app-card">
      <div class="card-header">
        <h3>Row Hover</h3>
      </div>
      <div class="card-body">
        <div class="table-box tbl-bdr-rect tbl-row-hover">
          <table>
            <thead>
              <tr>
                <th class="tbl-col-xsm">SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableMini">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-08'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Row Even -->
    <section class="app-card">
      <div class="card-header">
        <h3>Row Even</h3>
      </div>
      <div class="card-body">
        <div class="table-box tbl-row-even">
          <table>
            <thead>
              <tr>
                <th class="tbl-col-xsm">SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableMini">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-09'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Column Even -->
    <section class="app-card">
      <div class="card-header">
        <h3>Column Even</h3>
      </div>
      <div class="card-body">
        <div class="table-box tbl-clm-even">
          <table>
            <thead>
              <tr>
                <th class="tbl-col-xsm">SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableMini">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-10'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Row Odd -->
    <section class="app-card">
      <div class="card-header">
        <h3>Row Odd</h3>
      </div>
      <div class="card-body">
        <div class="table-box tbl-row-odd">
          <table>
            <thead>
              <tr>
                <th class="tbl-col-xsm">SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableMini">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-11'"></app-comps-code>
        </div>
      </div>
    </section>

    <!-- Column Odd -->
    <section class="app-card">
      <div class="card-header">
        <h3>Column Odd</h3>
      </div>
      <div class="card-body">
        <div class="table-box tbl-clm-odd">
          <table>
            <thead>
              <tr>
                <th class="tbl-col-xsm">SI.No</th>
                <th>Brand</th>
                <th>Modal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tbody of tableMini">
                <td *ngFor="let tr of tbody.tr">{{ tr }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-btns">
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_left
            </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_left </span>
          </button>
          <p class="page-count"><span class="active-page">01</span> of 50</p>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined"> chevron_right </span>
          </button>
          <button type="button" class="page-btn">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span>
          </button>
        </div>
        <div class="card-code">
          <app-comps-code [showCode]="'table-12'"></app-comps-code>
        </div>
      </div>
    </section>
  </div>
</section>
